body {
  font-family: Arial;
  text-align: center;
  background-color: #111;
  color: #fff;
}
video {
  border: 3px solid #fff;
  margin-top: 20px;
}
input {
  padding: 10px;
  font-size: 16px;
}
button {
  padding: 10px;
  font-size: 16px;
  margin-left: 5px;
}
.guess-box {
  margin-top: 20px;
}
#corner-icon {
  position: fixed;
  bottom: 15px;      /* or use top: 15px for upper corner */
  right: 15px;       /* or left: 15px for bottom-left */
  width: 256px;       /* or scale to taste */
  height: 256px;
  opacity: 1;     /* slightly transparent */
  z-index: 999;
}
